echo package-lock.json >> "Week 3/.gitignore"
echo req.http >> "Week 3/.gitignore"
echo server.js >> "Week 3/.gitignore"
echo .env >> "Week 3/.gitignore"
# dependencies
node_modules/

# production build
dist/

# environment variables
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# editor files
.vscode/
.idea/

# optional
*.local